 {% extends "nav.html" %} {% load static %} {% block content %}
<br><br><br><br>


<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="content">
    <div class="circle"></div>
    <h1>Asad Ali</h1>
    <h3>Pythonist 🐍</h3>

    <p> Hey there I am <b>Asad Ali.</b> Creator of this site. I am <b>Student</b> of Afro Asian Institute (Affiliated Campus of GCUF). I am Python Lover and have interest in Machine Learning. I am <b>FreeLancer</b> and completed different kinds of projects.
        My objective is to be a skilfull programmer in Future.<br><br>I have completed some Projects recently you can check them out on my <a href="https://github.com/ali48293?tab=repositories">Github</a> profile or you can give me feedback on my Personal
        Facebook id <a href="https://web.facebook.com/profile.php?id=100007470464236">Facebook</a>.That would be very appreciating for me ❤.
    </p>
    <button class="btn"><a href="https://github.com/ali48293/Todo-App" class=" btn btn-success" style="text-decoration: none; color:white;">Source Code</a></button> {% endblock %}