{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo App</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom styles for this template -->

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button>
                <a class="navbar-brand" href="{% url 'homepage' %}">Todo App</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li><a href="{% url 'homepage' %}">Home</a></li>

                    {% if user.is_authenticated %}
                    <li><a href="">Hello {{user.first_name}}</a></li>
                    <li><a href="{% url 'logout'  %}">logout</a></li>
                    <li><a href="{% url 'create'  %}">Add Todo</a></li>

                    {% else %}
                    <li><a href="{% url 'home'  %}">Sign up</a></li>
                    <li><a href="{% url 'login'  %}">login</a></li>
                    <li><a href="{% url 'joke' %}">Pyjokes</a></li>
                    <li><a href="https://github.com/ali48293/Todo-App">Source Code</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>

                    {% endif %}
                </ul>
            </div>

            <!--/.nav-collapse -->
        </div>
    </nav>
    <br><br><br><br><br><br><br>
    <div class="container">

        <div class=" container">

            {% if user.is_authenticated %} {% if user.Todo == None %}
            <h2>Add Todo</h2>
            <button class="btn"><a href="{% url 'create' %}" class="btn btn-success btn-lg">Add</a></button>{% endif %} {% for i in list %}

            <h2>{% if i.important %} <b>{% endif %}{{i.title}}{% if i.important %}</h1></b>{% endif %} <br> {% if i.memo%} - {{i.memo}}{% endif%}<br>

                <button type="submit" class="btn"><a href="{% url 'update' i.id  %}" class="btn btn-info">Update</a> </button>
                <button type="submit" class="btn"><a href="{% url 'delete' i.id  %}" class="btn btn-danger">Delete</a> </button> {% endfor %}
                <br><br><br><br> {% else %}
                <h1 style="font-weight:bold">Simply add Your Todos</h1>
                <br>
                <p> Hey there! Life is so busy remembering each and everything is quite difficult!<br> We can help you in that! Yes here You can add your Todos ,and also you can edit or delete that from your <b>Personal Profile.<br>
            Click SignUp Button to  get started</br>
<br>
            <button class="btn" ><a href="{% url 'home' %}" class="btn btn-success btn-lg">Sign up</a></button>
            <button class="btn" ><a href="{% url 'joke' %}" class="btn btn-success btn-lg">Pyjokes</a></button>
        
        
        </p>
        {% endif %}
    </div>



</body>

</html>