{% extends 'nav.html' %} {% block content %}

<br>
<br><br><br><br><br><br>
<div class="container">
    <h1 class="alert alert-info" style="text-align: center; padding:50px;">Joke of the Day </h1>
    <h3 class="alert alert-danger" style="margin-bottom:3%;">Only for Devs!</h3>
    <h2 class="alert alert-success " style="margin-bottom:3%; padding:40px;"> {{joke}}</h2>
    <button type="submit" class="btn"><a href="{% url 'joke'   %}" class="btn btn-success">Get More</a> </button>
</div>
{% endblock %}